@import "tailwindcss";

@layer base {
  body {
    font-family: 'Spectral', serif;
  }

  h1, h2, h3, .logo span, .btn-start {
    font-family: 'Unbounded', sans-serif;
  }
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  background-color: white;
  border-bottom: 2px solid #e5e5e5;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 45px;
}

.logo span {
  font-size: 18px; 
  font-weight: bold;
}
.language {
  color: #666;
  font-size: 16px;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 60px;
  margin: 0px 60px;
  min-height: calc(100vh - 140px);
}

.left img {
  width: 420px;
}

/* Right Content */
.right {
  max-width: 420px;
}

.right h1 {
  font-size: 26px;
  margin-bottom: 40px;
  text-align: center;
  line-height: 1.4;
}

/* Buttons */
.btn-start {
  width: 100%;
  padding: 16px;
  background-color: #1abc9c;
  color: white;
  border: none;
  border-radius: 16px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 12px;
  box-shadow: 0px 4px 0px rgba(0, 123, 104);
  transition: all 0.1s ease;
}

.btn-start:hover {
  background-color: #16a085;
  transform: translateY(2px);
}

.btn-login {
  width: 100%;
  padding: 16px;
  background-color: transparent;
  border: 3px solid #aaaaaa;
  border-radius: 16px;
  cursor: pointer;
  color: #1abc9c;
  font-size: 16px;
  transition: all 0.1s ease;
}

.btn-login:hover {
  border-color: #1abc9c;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #ffffff;
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: #e5e5e5 3px solid;
}
.icons {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.icon-track {
  display: flex;
  flex-shrink: 0;
  min-width: 100%;
  animation: scroll 20s linear infinite;
  justify-content: space-around;
  align-items: center;
  padding: 0px 20px;
}

.icons img {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}